{% extends "base.html" %}

{# open graph extra info #}
{% block og_url %}{{ link_to('tag', tag=tag.name) }}{% endblock %}
{% block og_title %}Blog entries tagged “{{ tag.name }}”{% endblock %}
{% block og_description %}These are the blog entries tagged “{{ tag.name }}”{% endblock %}

{% block title %}Blog entries tagged “{{ tag.name }}”{% endblock %}
{% block description %}These are the blog entries tagged “{{ tag.name }}”{% endblock %}

{% block body %}
    <header>
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ self.title() }}</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="module">
        <ul class="container-fluid">
            <li><a href="{{ link_to('tagcloud') }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Tags</a></li>
            {%- for entry in entries %}
                {% include 'blog/entry_media.html' %}
            {%- endfor %}
        </ul>
    </section>
     <section class="hidden-lg-up mt-5">
        <ul class="split-list gray">
            <li><a href="{{ link_to('blog_feed') }}"><i class="fa fa-rss" aria-hidden="true"></i> Feed</a></li>
        </ul>
    </section>
{% endblock %}
