{% extends "base.html" %}

{# open graph extra info #}
{% block og_url %}{{ config.canonical_url }}{{ link_to('tagcloud') }}{% endblock %}
{% block og_title %}Blog tags{% endblock %}
{% block og_description %}These are the blog tags{% endblock %}

{% block title %}Blog tags{% endblock %}
{% block description %}These are the blog tags{% endblock %}


{% block body %}
    <header>
        <div class="container-fluid container-custom">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ self.title() }}</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="module">
        <ul class="container-fluid">
            {%- for tag in get_tags(limit=50) %}
                <li><a href="{{ link_to('tag', tag=tag.name) }}" style="font-size: {{
              tag.size }}%">{{ tag.name }}</a>
            {%- endfor %}
        </ul>
    </section>
    <section class="hidden-lg-up mt-5">
        <ul class="split-list gray">
            <li><a href="{{ link_to('blog_feed') }}"><i class="fa fa-rss" aria-hidden="true"></i> Feed</a></li>
        </ul>
    </section>
{% endblock %}
