{% extends "base.html" %}

{# open graph extra info #}
{% block og_url %}{{ ctx.slug }}{% endblock %}
{% block og_title %}{{ ctx.short_title if ctx.short_title else rst.title }}{% endblock %}
{% block og_description %}{{ rst.title if ctx.short_title else ctx.summary }}{% endblock %}

{# meta description #}
{% block title %}{{ ctx.short_title if ctx.short_title else rst.title }}{% endblock %}
{% block description %}{{ rst.title if ctx.short_title else ctx.summary }}{% endblock %}

{# image of the post and open graph #}
{% block image %}{{ ctx.image if ctx.image else super() }}{% endblock %}



{% block body %}

    {% if ctx.image %}
        {# entry only shows an image in mobile mode when the image is specified by configuration #}
        <!-- header image -->
        <div class="hidden-lg-up">
            <img src="/static/thumbs/{{ self.image() }}" class="img-fluid img-thumbnail rounded-circle mx-auto d-block" />
        </div>
    {% endif %}

    <article>

        {%- if not config.hide_title %}
            {{ rst.html_title }}
        {%- endif %}

        {% if ctx.pub_date %}
            <p class="date mt-0 mb-0">written on {{ format_date(ctx.pub_date, format='full') }}</p>
        {% endif %}

        {% if not ctx.short_title %}
            <p><i><i>{{ ctx.summary }}</i></i></p>
        {% endif %}

        {# The content of the entry #}
        {{ rst.fragment }}

        {% if ctx.tags %}
            <p class=tags>This entry was tagged
            {% for tag in ctx.tags|sort(case_sensitive=true) %}
                {%- if not loop.first and not loop.last %}, {% endif -%}
                {%- if loop.last and not loop.first %} and {% endif %}
                <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
            {%- endfor %}
        {% endif %}
    </article>

    {% if 'disqus' in config.active_modules%}
        {{ get_disqus(rst.title, ctx.slug) }}
    {% endif %}

    <section class="hidden-lg-up mt-5">
        <ul class="split-list gray">
            {% if ctx.profile_page %}
            <li>Download cv:</li>
            <li><a href="#">English</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Spanish</a></li>
            {% else %}
            <li><a href="{{ link_to('blog_feed') }}"><i class="fa fa-rss" aria-hidden="true"></i> Feed</a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}
